
	/*Date: February 16, 2019
	Client: Central Railway DWAR

	INDEX:
	1. Font
	2. HTML, Body
	3. Spacing
	4. Shadow
	5. Width
	6. Border Radius
	7. Center Align
	8. Background Color
	9.Footer
	10.Login
	11.Register
	12.Form
	13.Drawer Nav bar
	14.Table
	15.Data Cards
	16.Paginator 
	17.Dashboard
	18.Drawer-Content*/




/* Font */
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');*/
@import url('https://fonts.googleapis.com/css?family=Muli');
.gxcpl-fw-400 {
	font-weight: 400;
}
.gxcpl-fw-500 {
	font-weight: 500;
}
.gxcpl-fw-700 {
	font-weight: 700;
}
.gxcpl-fc-white {
	color: rgba(255,255,255,1) !important;
}
.gxcpl-fc-21 {
	color: #212121 !important;
}
.gxcpl-fc-light-red {
	color: rgba(255,0,0,0.5) !important;
}

.gxcpl-heading-color {
	color: blue !important;
}

.gxcpl-pointer {cursor: pointer;}

/* Font */
.gxcpl-position{
	position: relative; 
	left: 6px; 
	top: 5px;
}
/* Html, Body */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Muli', sans-serif;
	background-color: #ebebeb;
	font-size: 13px;
	color: #212121;
	margin-bottom: 50px;
}

.gxcpl-site-container {
	margin-top: 70px;
}
a {
	text-decoration: none !important;
}
/* Html, Body */

/* Spacing */
.gxcpl-ptop-3 {
	padding-top: 3px;
}
.gxcpl-ptop-5 {
	padding-top: 5px;
}
.gxcpl-ptop-10 {
	padding-top: 10px;
}
.gxcpl-ptop-20 {
	padding-top: 20px;
}
.gxcpl-ptop-30 {
	padding-top: 30px;
}
.gxcpl-ptop-40 {
	padding-top: 40px;
}
.gxcpl-ptop-50 {
	padding-top: 50px;
}
.gxcpl-divider-light {
	border-bottom: 1px solid rgba(255,255,255,0.25);
}
.gxcpl-divider-dark {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gxcpl-no-padding {
	padding: 0px !important;
}
.gxcpl-no-margin {
	margin: 0px !important;
}
.gxcpl-padding {
	padding: 0px 8px;
}
.gxcpl-padding-5 {
	padding: 5px 10px;
}
.gxcpl-padding-10 {
	padding: 10px;
}
.gxcpl-padding-15 {
	padding: 15px;
}
.gxcpl-padding-30 {
	padding: 30px;
}
.gxcpl-table-padding {
	padding: 2px 4px;
}
/* Spacing */

/* Shadow */
.gxcpl-shadow-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.gxcpl-shadow-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.gxcpl-shadow-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.gxcpl-shadow-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gxcpl-shadow-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.gxcpl-btn-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s ease;
}
.gxcpl-btn-shadow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.3s ease;
}
.gxcpl-shadow-white{
	text-shadow: 0px 0px 4px rgba(255,255,255,0.9);
}
/* Shadow */

/* Width */
.gxcpl-width-100 {
	width: 100% !important;
}
.gxcpl-width-90 {
	width: 90% !important;
}
/* Width */

/* Border Radius */
.gxcpl-br-2 {
	border-radius: 2px;
}
.gxcpl-br-4 {
	border-radius: 4px;
}
/* Border Radius */

/* Center Align */
.gxcpl-center {
	margin: auto;
	display: block;
}
/* Center Align */

/* Background Color */
.gxcpl-bg-white {
	background-color: #ffffff;
}
.bg-purple-dark {
  background-color: #844bbb !important;
}
/* Background Color */

/* Color */
.gxcpl-text-white {
	color: #ffffff;
}
/* Color */

/* Navbar */
#gxcpl.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#gxcpl.navbar-default {
    font-size: 14px;
    background-color: rgba(211, 47, 47, 1);
    border-bottom-width: 0px;
}
#gxcpl.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(211, 47, 47, 1);
}
#gxcpl.navbar-default .navbar-nav>li>a:hover,
#gxcpl.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 67, 54, 1);
}
#gxcpl.navbar-default .navbar-nav>.active>a,
#gxcpl.navbar-default .navbar-nav>.active>a:hover,
#gxcpl.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 67, 54, 1);
}
#gxcpl.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#gxcpl.navbar-default .navbar-toggle:hover,
#gxcpl.navbar-default .navbar-toggle:focus {
    background-color: #F44336;
}
#gxcpl.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#gxcpl.navbar-default .navbar-toggle:hover .icon-bar,
#gxcpl.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #F44336;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: rgba(255,255,255,0.75);
	font-weight: 700;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: rgba(0,0,0,0.5);
}
.dropdown-menu {
	background-color: rgba(0,0,0,0.5);
}
.dropdown-header {
	color: #ffffff;
}

@media screen and (max-width: 1030px) {
	.btn-icon{
		background: transparent; 
		border:1px solid transparent; 
		color: #fff; 
		position: relative; 
		/*left: 85px;*/
	}
} 

@media screen and (max-width: 420px) {
	.title{
		display: none;
	}
}

/* Navbar */
/* Footer */
footer {
	position: absolute;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	background-color: #212121;
}
/* Footer */
/* Login */
img.gxcpl-login-logo {
	margin: 36px auto auto auto; 
	display: block; 
	width: 100px;
}
.gxcpl-login-box {
	/*border: 1px solid rgba(0,0,0,0.25);*/
	height: 230px;
	padding: 10px 20px;
}
/* Login */

/* Register */
/*.gxcpl-register-box{
	height: auto;
	padding: 30px 10px;
	margin-top: 10%;
}*/
.gxcpl-passport-photo {
    width: 35mm !important;
    height: 35mm !important;
    margin: auto;
    display: block;
    border: 5px solid #aaa;
    object-fit: cover !important;
    border-radius: 50%;
    text-align: center;
    line-height: 32mm;
    overflow: hidden;

}
/* Register */
/* Form */
/*input, select{
	outline: none;
	border: none !important;
	border-bottom: 1px solid #dbdbdb !important;
}*/
.gxcpl-no-drop {cursor: no-drop;}

.gxcpl-search-text{
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	width: 50%;
	transition: border-bottom 0.3s ease;
	/*padding: 2px 4px;*/
	height: 24px;
}


.gxcpl-input-text, #f_ncoal_stock {
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	width: 100%;
	transition: border-bottom 0.3s ease;
	/*padding: 2px 4px;*/
	height: 24px;
}

.gxcpl-inline-text {
	border: 0px solid transparent;
	/*border-bottom: 1px solid rgba(0,0,0,0.23);*/
	width: 100%;
	transition: border-bottom 0.3s ease;
	height: 24px;
}

.typeahead, .typeahead1 {
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	width: 100%;
	transition: border-bottom 0.3s ease;
	/*padding: 2px 4px;*/
	height: 24px;
}

.gxcpl-input-text:focus, .gxcpl-inline-text:focus, .gxcpl-input-select:focus, #f_ncoal_stock:focus, .typeahead:focus, .typeahead1:focus {
	border-bottom: 1px solid #D32F2F ! important;
	transition: border-bottom 0.3s ease ! important;
	outline-width: 0 ! important;
}

button.gxcpl-inline-btn {
	opacity: 0;
}

input.gxcpl-inline-text:focus + button.gxcpl-inline-btn {
	opacity: 1;
}

.gxcpl-input-select, #f_location, #f_raketype, 
#f_commodity, #f_desti, #f_loading_point, #f_commodity_stock,
#f_ncoal_cmdt, #f_machine, #f_machine_units2, #f_section, 
#f_section_stname, #f_ho_interchange, #f_ipt_role, #f_k_page_folder_id, #f_siding{
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	transition: border-bottom 0.3s ease;
	height: 24px;
	width: 100%;
}
/*Edit Popup Pointwise Interchange*/
#k_element_signon_time {
    position: absolute;
    top: 207%;
    left: 36%;
}
/*Edit Popup Pointwise Interchange*/
.gxcpl-disabled {
	background-color: rgba(0,0,0,0.15);
	color: #212121;
	cursor: not-allowed;
}

/* Table */
.gxcpl-scroll{
	/*max-height: 200px;*/
	height: auto;
	max-height: 540px !important;
	overflow-y: scroll;
}

.gxcpl-table {
	border: 0px solid transparent;
	width: 100%;
}
.gxcpl-table > thead > tr > th {
	height: 32px;
}
.gxcpl-table > tbody > tr {
	padding: 5px 0px;
	height: 40px;
	/*border-bottom: 1px solid rgba(0,0,0,0.15);*/
}
/*.gxcpl-table > tbody > tr:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.35);
}*/
.gxcpl-table-hover > tbody > tr:hover {
	background-color: rgba(0,0,0,0.15);
	color: rgba(0,0,0,0.75);
}
.gxcpl-table > tbody > tr > td {
	padding: 4px;
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}

.tableFixHead table {
  /*border-collapse: collapse;*/
  border-collapse:separate;
  border-spacing: 0;
  display:inline
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  background-color: #ddd;
  /*z-index: 1;*/
}

td.overdue {
	background-color: #FFCDD2;
	color: #212121;
}
td.sch_overdue {
	background-color: #DCEDC8;
	color: #212121;
}
td.stable {
	background-color: #ffff91b3;
	color: #212121;
}
td.today_interchange{
	border-left: 5px solid #008aff! important;
}
td.srintchge {
	width: 8%;
	background-color: #a2cef4;
	color: #212121;
}
td.nosrintchge {
	width: 8%;
	background-color: #a2cef4;
	color: #a2cef4;
}
tr.highlight {
	background-color: rgba(0,0,0,0.15);
}
tr.highlight-total {
	background-color: rgba(0,0,0,0.27);
}
td.gxcpl-over60{
	background-color: #ffaa5c;
}
td.gxcpl-over120{
	background-color: #f77;
}
td.gxcpl-less-60{
	background: #ffff69;
}
/* Auto number table rows */
table#ho, table#to, table#pt-icp {
	counter-reset: rowNumber;
}
table#ho tbody tr, table#to tbody tr, table#pt-icp tbody tr {
	counter-increment: rowNumber;
}
table#ho tbody tr td:first-child::before, table#to tbody tr td:first-child::before, table#pt-icp tbody tr td:first-child::before {
	content: counter(rowNumber);
	min-width: 1em;
	margin-right: 0.5em;
}
.pagination {
	margin: 0;
}
/* Auto number table rows */

/* Anchor Overlay for Index page Card */
.overlay {
	position: absolute;
	background: transparent;
	left: 0;
	right: 0;
	height: 17.2px;
	text-align: center;
}
/* Anchor Overlay for Index page Card */
/* Table */

/* Data Cards */
.gxcpl-card{
	width: 100%; 
	height: auto; 
	background-color: #fff; 
	border-radius: 2px; 
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.gxcpl-card-header{
	width: 100%; 
	height: auto; 
	border-radius: 2px 2px 0px 0px; 
	padding: 5px 10px; 
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gxcpl-card-body{
	width: 100%; 
	height: auto; 
	/*padding: 5px 10px; */
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gxcpl-card-footer{
	width: 100%; 
	height: auto; 
	border-radius: 0px 0px 2px 2px; 
	line-height: 50px; 
	/*border-top: 1px solid rgba(0,0,0,0.25); */
	text-align: center; 
	padding: 10px;
}
/* Data Cards */
/* Shadow */
.gxcpl-card-shadow {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),
				0 0.9375rem 1.40625rem rgba(4,9,20,0.03),
				0 0.25rem 0.53125rem rgba(4,9,20,0.05),
				0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
/* Shadow */

/* Drawer Nav Bar*/
.toggle {
    color: #ffffff;
    display: block;
    height: 72px;
    line-height: 72px;
    text-align: center;
    width: 72px;
}

.toggle:hover {
    color: #ffffff;
}

.sidenav-link-subtitle {
    display: block;
    padding: 0 16px 0 0px;
}

.sidenav-header {
    background: 0 0 !important;
    color: #757575 !important;
    font-size: 19.2px !important;
    line-height: 32px !important;
    padding: 16px 9px 15px !important;
}
.sidenav-link-title {
    display: block !important;
    padding: 0 16px 0 24px !important;
}
#custom-bootstrap-menu.navbar-default {
    background-color: rgba(211, 47, 47, 1);
    border:1px solid rgba(211, 47, 47, 1);
    border-radius: 0px;
    height: 63px;	
}
.gxcpl-drawer-card{
	width: 100%;
	height: 240px;
}
.gxcpl-drawer-image{
	width: 90px; 
	height: 90px; 
	border-radius: 50%; 
	border:5px solid #fff; 
	margin-top: 15%;
	margin-left: 30%;
}
/*.gxcpl-sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99;
	box-shadow: 2px 0px 4px rgba(0,0,0,0.45);
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
}*/
.nav-menu{
	font-size:22px; 
	cursor:pointer;
	color: #fff;
}
.gxcpl-sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #787575;
	display: block;
	transition: 0.3s;
}

.gxcpl-sidenav a:hover {
 	color: #212121;
 	/*background-color: #787575;*/
}

.gxcpl-sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.gxcpl-drawer-icon {
  width: 100%;
  height: 240px;
  background-image: url(../images/lg.png);
  background-size: cover;
  position: relative;
}
li{
	list-style-type: none;
}
.gxcpl-right{
	margin-left: -65px;
}

li.active a{
  color: #d32f2f;
}
@media screen and (max-height: 450px) {
	.gxcpl-sidenav a {
		font-size: 18px;
	}
}
/*Drawer Nav Bar*/
/* Paginator */
div.pagination {
    padding: 3px;
    margin: 3px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    /*margin: 2px;*/
    border: 1px solid #4cae4c;
    background-color: #5cb85c;
    zoom: 100%;
    text-decoration: none; /* no underline */
    color: #fff;
}
div.pagination a:hover, div.pagination a:active {
	background-color: #449d44;
    border: 1px solid #398439;

    color: #fff;
}
div.pagination span.page_current {
    padding: 2px 5px 2px 5px;
    /*margin: 2px;*/
    border: 1px solid #ccc;

    * zoom: 100%;

    font-weight: bold;
    background-color: #fff;
    color: #333;
}
div.pagination span.page_disabled {
    padding: 2px 5px 2px 5px;
    /*margin: 2px;*/
    background-color: #5cb85c;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #4cae4c;

    * zoom: 100%;

    color: rgba(0,0,0,0.35);

    cursor: not-allowed;
}

* span.elipsis {zoom:100%}
/* Paginator */

/* Dashboard Content */
.gxcpl-dashboard-box{
	height: 196px;
	min-height: 250px;
	height: auto;
	/*padding: 2px;*/
	transition: all 0.2s ease;
}
.gxcpl-dashboard-box:hover{
	background-color: #D32F2F;
	color: #ffffff !important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.2s ease;
}
.gxcpl-dashboard-box-card{
	width: 100%;
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
	/*padding: 6px 0px;*/
}
.gxcpl-dashboard-box:hover .gxcpl-dashboard-box-card a {
	color: #ffffff !important;
}
.gxcpl-dashboard-box-card-header {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gxcpl-dashboard-box-card-body {
	width: 100%;
	padding: 5px 10px;
	height: 70px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gxcpl-dashboard-box-card-footer {
	width: 100%;
	height: 150px;
	padding: 5px 10px;
}
.gxcpl-dashboard-box-card-footer-extended {
	width: 100%;
}
.gxcpl-dashboard-box-card-footer-extended > .panel {
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 0px;
    background-color: #757474;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.25);
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}
.panel-heading {
	border-radius: 0px;
	cursor: pointer;
}
.panel-title {
	font-size: 13px;
	color: #fff !important;
}
.gxcpl-dashboard-box:hover .panel-title > a {
	color: #fff !important;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
    font-family: FontAwesome;
	content: "\f0d7";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	z-index: 999;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0d8";    /* adjust as needed, taken from bootstrap.css */
    color: #fff;
}
/*@media screen and (max-width: 591px) {
	.gxcpl-dashboard-box{
		height: 250px;
		transition: all 0.2s ease;
		background:green;
	}
}

@media (min-width: 576px) {
	.gxcpl-dashboard-box{
		height: 350px;
		transition: all 0.2s ease;
		background:blue;
	}
}

@media (max-width: 320px) {
	.gxcpl-dashboard-box{
		height: 350px;
		transition: all 0.2s ease;
		background: black;
	}
}*/

/*@media only screen 
   and (max-width : 1080px) 
   and (max-height : 1920px) {
       
    .gxcpl-dashboard-box{
	    height: 196px;
	    transition: all 0.2s ease;
	    background:yellow;
    }
}
@media only screen 
   and (max-width : 360px) 
   and (max-height : 640px){
       
    .gxcpl-dashboard-box{
	    height: 196px;
	    transition: all 0.2s ease;
	    background:green;
    }
}*/
/* Dashboard Content */

/* hide Date */
 #f_dt_date_day, #label_f_dt_date_day
    { display:none; }

/* hide year */
/*Set date and Time*/
#f_schedule_date_day, #f_schedule_date_month, #f_arrival_date_day, 
#f_arrival_date_month, #f_arrival_date_year, #f_arrival_time_hour,
#f_arrival_time_min, #f_departure_date_day, #f_departure_date_month,
#f_departure_date_year,#f_departure_time_hour, #f_departure_time_min,
#f_signon_date_day, #f_signon_date_month, #f_signon_date_year,
#f_signon_time_hour, #f_signon_time_min, #f_aq_arrival_time_hour,
#f_aq_arrival_time_min, #f_aq_departure_time_hour, #f_aq_departure_time_min,
#f_gnq_arrival_time_hour, #f_gnq_arrival_time_min, #f_gnq_departure_time_hour,
#f_gnq_departure_time_min{
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	/*width: 50px;*/
	transition: border-bottom 0.3s ease;
}

#f_schedule_date_month, #f_arrival_date_month, #f_arrival_time_hour, 
#f_arrival_time_min, #f_departure_date_month, #f_departure_time_hour, 
#f_departure_time_min, #f_signon_date_month, #f_signon_time_hour,
#f_signon_time_min, #f_aq_arrival_time_hour,
#f_aq_arrival_time_min, #f_aq_departure_time_hour, #f_aq_departure_time_min,
#f_gnq_arrival_time_hour, #f_gnq_arrival_time_min, #f_gnq_departure_time_hour,
#f_gnq_departure_time_min {
	height: 24px;
}

#f_schedule_date_day:focus, #f_schedule_date_month:focus, #f_arrival_date_day:focus, 
#f_arrival_date_month:focus, #f_arrival_date_year:focus, #f_arrival_time_hour:focus,
#f_arrival_time_min:focus, #f_departure_date_day:focus, #f_departure_date_month:focus,
#f_departure_date_year:focus,#f_departure_time_hour:focus, #f_departure_time_min:focus,
#f_signon_date_day:focus, #f_signon_date_month:focus, #f_signon_date_year:focus,
#f_signon_time_hour:focus, #f_signon_time_min:focus, #f_aq_arrival_time_hour:focus,
#f_aq_arrival_time_min:focus, #f_aq_departure_time_hour:focus, #f_aq_departure_time_min:focus,
#f_gnq_arrival_time_min:focus, #f_gnq_departure_time_hour:focus, #f_gnq_departure_time_min:focus{
	border-bottom: 1px solid #D32F2F;
	transition: border-bottom 0.3s ease;
}
/*Set date and Time*/
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
/*For To Ho*/
/*.box {
	display: none;
}*/
/*For To Ho*/
/*Breakup Loading*/
/*For 10*/
#f_my_repeatable-0-no_wgn_rjct, #f_my_repeatable-0-sr_no_rjct_wgn, 
#f_my_repeatable-0-resn_rjct, #f_my_repeatable-1-no_wgn_rjct, #f_my_repeatable-1-sr_no_rjct_wgn, 
#f_my_repeatable-1-resn_rjct, #f_my_repeatable-2-no_wgn_rjct, #f_my_repeatable-2-sr_no_rjct_wgn, 
#f_my_repeatable-2-resn_rjct, #f_my_repeatable-3-no_wgn_rjct, #f_my_repeatable-3-sr_no_rjct_wgn, 
#f_my_repeatable-3-resn_rjct, #f_my_repeatable-4-no_wgn_rjct, #f_my_repeatable-4-sr_no_rjct_wgn, 
#f_my_repeatable-4-resn_rjct, #f_my_repeatable-5-no_wgn_rjct, #f_my_repeatable-5-sr_no_rjct_wgn, 
#f_my_repeatable-5-resn_rjct, #f_my_repeatable-6-no_wgn_rjct, #f_my_repeatable-6-sr_no_rjct_wgn, 
#f_my_repeatable-6-resn_rjct, #f_my_repeatable-7-no_wgn_rjct, #f_my_repeatable-7-sr_no_rjct_wgn, 
#f_my_repeatable-7-resn_rjct, #f_my_repeatable-8-no_wgn_rjct, #f_my_repeatable-8-sr_no_rjct_wgn, 
#f_my_repeatable-8-resn_rjct, #f_my_repeatable-9-no_wgn_rjct, #f_my_repeatable-9-sr_no_rjct_wgn, 
#f_my_repeatable-9-resn_rjct, #f_my_repeatable-10-no_wgn_rjct, #f_my_repeatable-10-sr_no_rjct_wgn, 
#f_my_repeatable-10-resn_rjct, #f_my_repeatable-11-no_wgn_rjct, #f_my_repeatable-11-sr_no_rjct_wgn, 
#f_my_repeatable-11-resn_rjct, #f_my_repeatable-12-no_wgn_rjct, #f_my_repeatable-12-sr_no_rjct_wgn, 
#f_my_repeatable-12-resn_rjct, #f_my_repeatable-13-no_wgn_rjct, #f_my_repeatable-13-sr_no_rjct_wgn, 
#f_my_repeatable-13-resn_rjct, #f_my_repeatable-14-no_wgn_rjct, #f_my_repeatable-14-sr_no_rjct_wgn, 
#f_my_repeatable-14-resn_rjct, #f_my_repeatable-15-no_wgn_rjct, #f_my_repeatable-15-sr_no_rjct_wgn, 
#f_my_repeatable-15-resn_rjct, #f_my_repeatable-16-no_wgn_rjct, #f_my_repeatable-16-sr_no_rjct_wgn, 
#f_my_repeatable-16-resn_rjct, #f_my_repeatable-17-no_wgn_rjct, #f_my_repeatable-17-sr_no_rjct_wgn, 
#f_my_repeatable-17-resn_rjct, #f_my_repeatable-18-no_wgn_rjct, #f_my_repeatable-18-sr_no_rjct_wgn, 
#f_my_repeatable-18-resn_rjct, #f_my_repeatable-19-no_wgn_rjct, #f_my_repeatable-19-sr_no_rjct_wgn, 
#f_my_repeatable-19-resn_rjct, #f_my_repeatable-20-no_wgn_rjct, #f_my_repeatable-20-sr_no_rjct_wgn, 
#f_my_repeatable-20-resn_rjct{
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	width: 100%;
	transition: border-bottom 0.3s ease;
	/*padding: 2px 4px;*/
	height: 24px;
}
#f_daily_target_repeatable-0-daily_target, #f_daily_target_repeatable-0-daily_target_ldingpt,
#f_daily_target_repeatable-1-daily_target, #f_daily_target_repeatable-1-daily_target_ldingpt,
#f_daily_target_repeatable-2-daily_target, #f_daily_target_repeatable-2-daily_target_ldingpt,
#f_daily_target_repeatable-3-daily_target, #f_daily_target_repeatable-3-daily_target_ldingpt,
#f_daily_target_repeatable-4-daily_target, #f_daily_target_repeatable-4-daily_target_ldingpt,
#f_daily_target_repeatable-5-daily_target, #f_daily_target_repeatable-5-daily_target_ldingpt,
#f_daily_target_repeatable-6-daily_target, #f_daily_target_repeatable-6-daily_target_ldingpt,
#f_daily_target_repeatable-7-daily_target, #f_daily_target_repeatable-7-daily_target_ldingpt,
#f_daily_target_repeatable-8-daily_target, #f_daily_target_repeatable-8-daily_target_ldingpt,
#f_daily_target_repeatable-9-daily_target, #f_daily_target_repeatable-9-daily_target_ldingpt,
#f_daily_target_repeatable-10-daily_target, #f_daily_target_repeatable-10-daily_target_ldingpt,
#f_daily_target_repeatable-11-daily_target, #f_daily_target_repeatable-11-daily_target_ldingpt,
#f_daily_target_repeatable-12-daily_target, #f_daily_target_repeatable-12-daily_target_ldingpt,
#f_daily_target_repeatable-13-daily_target, #f_daily_target_repeatable-13-daily_target_ldingpt,
#f_daily_target_repeatable-14-daily_target, #f_daily_target_repeatable-14-daily_target_ldingpt,
#f_daily_target_repeatable-15-daily_target, #f_daily_target_repeatable-15-daily_target_ldingpt,
#f_daily_target_repeatable-16-daily_target, #f_daily_target_repeatable-16-daily_target_ldingpt,
#f_daily_target_repeatable-17-daily_target, #f_daily_target_repeatable-17-daily_target_ldingpt,
#f_daily_target_repeatable-18-daily_target, #f_daily_target_repeatable-18-daily_target_ldingpt{
	border: 0px solid transparent;
	border-bottom: 1px solid rgba(0,0,0,0.23);
	width: 100%;
	transition: border-bottom 0.3s ease;
	/*padding: 2px 4px;*/
	height: 24px;
}
th.k_element_sr_no_rjct_wgn, .editable, .k_element_resn_rjct {
	width: 13px !important;
}
.dg-arrange-table-header {
	width: 5px !important;
}
.repeatable-region {
	width: 100% !important;
}
.delete{
	width: 5px !important;
}

.tableholder {
    overflow-x: hidden !important;
    /*overflow-y: hidden !important;*/
    /*padding: 8px 0px 5px;*/
    margin-left: 3%;
} 
.file-styled {
	/*width: 90% !important;*/
}

p.addRow{
	width: 104px;
    background: #4bb543;
    padding: 0.5%;
    margin-left: 1%;
    font-size: 13px;
    font-weight: bold;
    /* color: #020202; */
    border-radius: 5px;
}
p.addRow a{
	color: #fff;
	position: relative;
	top: 3px;
}
.tableholder p.addRow a{
	width: 104px !important;
}
/*Breakup Loading*/
/*Inline Editing*/
[contenteditable="true"] {
    border: 1px solid #fff !important;
}
/*Inline Editing*/

/* text-center-special */
.text-center-special {
	text-align: center !important;
}
@media screen and (max-width: 320px) {
	.text-center-special {
		text-align: left !important;
	}
}
/* text-center-special */
/*Legend*/

.gxcpl-legend-outer {
	width: 44px;
	height: 44px;
	position: absolute;
	/*bottom: -30px; */
	right: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border: 1px solid rgba(0,0,0,0.05);
	border: radius: 4px;
}
.gxcpl-legend-outer:hover {
 	cursor: pointer;
}
.gxcpl-legend {
 	padding: 3px;
}
.gxcpl-legend-inner {
	width: 40px;
	height: 20px;
}
.gxcpl-legend-interchange, .gxcpl-legend-stable, .gxcpl-legend-schedule, .gxcpl-legend-signon {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}
.gxcpl-legend-interchange, .child-one {
 	background-color: #55a5ea;
}
.gxcpl-legend-stable, .child-two {
 	background-color: #f0e40e;
}
.gxcpl-legend-schedule, .child-three {
 	background-color: #85EA10;
}
.gxcpl-legend-signon, .child-four {
 	background-color: #FFAAB3;
}
/*Modal*/
.gxcpl-modal-interchange{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #9ecdf4; 
	margin:auto; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-todayf{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #2b93ec; 
	margin:auto; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-stable{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #ffff91b3; 
	margin-left: 25px; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-schedule{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #DCEDC8; 
	margin:auto; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-signon{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #FFCDD2; 
	margin-left: 25px; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-over60{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #ffaa5c; 
	margin-left: 25px;
	display: block; 
	width: 47%;
}
.gxcpl-modal-over120{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #f77; 
	margin:auto; 
	display: block; 
	width: 47%;
}
.gxcpl-modal-less60{
	border:1px solid #dddddcb3; 
	height: 30px; 
	background: #ffff69;
	margin-left: 25px;
	display: block; 
	width: 47%;
}
.gxcpl-modal-lg{
	width: 98%;
}
@media screen and (max-width: 768px)  {
	.gxcpl-legend-outer {
		position: absolute;
		right: 3px;
	}
	.gxcpl-modal-interchange, .gxcpl-modal-stable, 
	.gxcpl-modal-schedule, .gxcpl-modal-signon, 
	.gxcpl-modal-todayf, .gxcpl-modal-over60,
	.gxcpl-modal-over120, .gxcpl-modal-less60 {
		margin:auto;  
		width: 100%;
	}
}
@media screen and (min-width: 320px) and (max-width: 768px)  {
	.gxcpl-legend-int{
		position: absolute;
		bottom: 108px;
		left: 300px;
		padding-top: 20px;
	}
}
/*Modal*/
/*Legend*/
/*Datables Print, Excel & PDF Button*/
.buttons-print {
  	background-color: #337ab7;
  	color: white;
  	font-weight: 700;
}
.buttons-excel {
  	background-color: #5cb85c;
  	color: white;
  	font-weight: 700;
}
.buttons-pdf {
  	background-color: #d9534f;
  	color: white;
  	font-weight: 700;
}
.buttons-colvis {
 	background-color: #5bc0de;
   	color: white;
   	font-weight: 700;
}
/*Datables Print, Excel & PDF Button*/